name: Python application

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run main.py
        env:
          MELIPAYAMAK_API_KEY: ${{ secrets.MELIPAYAMAK_API_KEY }}
          SMS_SENDER: ${{ secrets.SMS_SENDER }}
          SMS_RECEIVER: ${{ secrets.SMS_RECEIVER }}
          EMAIL_ADDRESS: ${{ secrets.EMAIL_ADDRESS }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          LOG_FILE: ${{ secrets.LOG_FILE }}          # اختیاری
          LOG_LEVEL: ${{ secrets.LOG_LEVEL }}        # اختیاری
        run: python main.py
